<!doctype html>
<html>
    <head>
    <title>Izzy's Website - Home</title>
    <link rel="stylesheet" type="text/css" href=".resources//style.css" />
    <meta name="description" content="Izzy's Website">
    <meta name="keywords" content="html tutorial template">
</head>



<body>
    <div class-"nav_bar">
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/links">Useful Resources</a></li>
        </ul>
        
    </div>
    
    <div class="main_content">
        <h1>This is just a test header</h1>
            <p>
                This is just a test paragraph. Look, here is today's date: {{ the_date }}
                
            </p>
            <a href="/about">This is just a test link.</a>
        
    </div>

</body>
</html>
