<!doctype html>
<html>
    <head>
    <title>Izzy's Website - Home</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}"/>
    <meta name="description" content="Izzy's Website">
    <meta name="keywords" content="html tutorial template">
</head>



<body>
    
    <div class="nav_bar">
        <ul class="nav_bar">
            <li><a href="/">Home</a></li>
            <li><a href="/links">AI Resources</a></li>
        </ul>
    </div>
    
    
    <div class="main_content">
        <h1>Todays Date</h1>
            <p>
                 {{ the_date }}
            </p>
                

    </div>

</body>
</html>
