<!doctype html>
<html>
    <head>
    <title>Izzy's Website - Links</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}"/>
    <meta name="description" content="Izzy's Website - Links">
</head>



<body>
    <div class="nav_bar">
        <ul class="nav_bar">
            <li><a href="/">Home</a></li>
            <li><a href="/links">AI Resources</a></li>
        </ul>
    </div>
    
    <div class="main_content">
        <h1>Fun AI Tools</h1>
            <ul>
                <li><a href="https://chat.openai.com" target="_blank">ChatGPT</a></li>
                <li><a href="https://uberduck.ai/" target="_blank">AI Text to Speech</a></li>
                <li><a href="https://www.craiyon.com/" target="_blank">AI Image Generator</a></li>
                <li><a href="https://www.autodraw.com/" target="_blank">AutoDraw Sketch Enhancements </a></li>
            </ul>
        
    </div>

</body>
</html>
