<!doctype html>
<html>
    <head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>



<body>
    <div class-"nav_bar">
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/links">Useful Resources</a></li>
        </ul>
    </div>
    
    <div class="main_content">
        <h1>This is just a test header</h1>
            <ul>
                <li><a href="https://www,google.com">Google</a></li>
                <li><a href="https://www.voicebooking.com/en/free-voice-over-generator">AI Voiceover</a></li>
            </ul>
        
    </div>

</body>
</html>
